<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!-- REST ENABLED START-->
    <services>
      <service name="WCFServiceTest.MyServiceExample">
        <endpoint address="" behaviorConfiguration="restfulBehaviour" binding="webHttpBinding" bindingConfiguration="" contract="WCFServiceTest.IMyService" />
        <!-- <host>
          <add baseAddress="https://localhost/MyService" />
        </host>-->
      </service>
    </services>
    <!-- REST ENABLED END-->
    <behaviors>
      <!-- REST ENABLED START-->
      <endpointBehaviors>
        <behavior name="restfulBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!-- REST ENABLED END-->
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <!-- REST ENABLED START-->
      <add binding="webHttpBinding" scheme="https" />
      <!-- REST ENABLED END-->
      <!--<add binding="webHttpBinding" scheme="https" />-->
      <!--<add binding="wsHttpBinding" scheme="https" /> -->
      <!--<add binding="basicHttpsBinding" scheme="https" /> DEFAULT -->
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
